* {
  box-sizing: border-box;
}
*:last-child {
  margin-bottom: 0;
}
html {
  font-family: "Arial - Bold MT";
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  background-color: #e4e5e5;
  font-size: 14px;
  font-weight: 400;
  color: #515253;
}

body {
  margin: 0;
}

.container {
  max-width: 1012px;
  margin: 0 auto;
  padding: 0 16px;
}
.logo {
  display: inline-block;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
.logo-description {
  color: #c9c7c7;
  font-size: 12px;
  line-height: 14px;
}

.main-content {
  background-color: #ffffff;
  padding: 46px 29px 58px;
}
a {
  text-decoration: underline;
  color: #d08b98;
}
a:hover {
}

img {
  width: 100%;
  height: auto;
  display: block;
}

figure {
  margin: 0;
}

p,
ul,
ol {
  margin: 0 0 -13px 17px;
}

* + p,
* + ul,
* + ol {
  margin-top: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0;
  line-height: 1.25;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}

hr {
  border: none;
  border-top: 1px solid #191c20;
  border-bottom: 1px solid #40474f;
}

.letter-primary {
  display: inline-block;
}
.letter-primary::first-letter {
  color: #ff1744;
  text-transform: uppercase;
}
.person {
  margin-left: 55px;
}
.black-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #515253;
}
.green-text {
  font-style: normal;
  font-size: 14px;
  color: #6fcb85;
}
.text {
  margin: 0 0 0 17px;
}
input {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
}
.line {
  width: 100%;
}
