.row {
  margin: -7.5px;
  display: flex;
}

.row > .column {
  padding: 20px;
}

.row-large {
  margin: -37.5px;
}
.row-large > .column {
  padding: 37.5px;
}

.row-medium {
  margin: -12.5px;
}
.row-medium > .column {
  padding: 12.5px;
}
