.header-top {
  padding: 20px 0 15px;
  background-color: #2c333a;
}

.header-bottom {
  background-color: #ff1744;
}
.header {
  background-color: #ffffff;
  padding: 8px;
}
.title {
  display: inline-block;
  margin: 11px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #515253;
}
